<footer class="footer-container">
  <div class="row">

    <div class="col-lg-2" style="text-align: center">
      <img src="../../assets/image/logo@2x.png" alt="GLOBALimage">
      <span class="d-block">@We-Sher 2018</span>
    </div>

    <div class="col-lg-2 align-items-center" >
      <div>
        <span class="d-block">About Us</span>
        <span class="d-block">Contact</span>
        <span class="d-block">Terms & Conditions</span>
      </div>
    </div>

    <div class="col-lg-2 align-items-center">
      <span class="d-block"><img src="" alt="facebook"></span>
      <span class="d-block"><img src="" alt="twitter"></span>
      <span class="d-block"><img src="" alt="instagram"></span>
    </div>

    <div class="col-lg-3" style="text-align: center">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Email Address" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
        </div>
      </div>


    </div>

    <div class="col-lg-3 align-items-center">
    <span class="d-block">Plaut 10, Rehovot, Israel</span>
    <span class="d-block">+972 58 1111111</span>
    <span class="d-block">info@gcvbank.com</span>
    </div>


  </div>

</footer>
